.topnav {
    background-color: lightgray;
    padding: 20;
    border: 13 white;
    width: 200;
    height: 25;
    color: white
}
.topnav a:hover {
    background-color: darkgray;
    color: black;
    text-align: center;
    ;
}
.topnav a {
    padding: 20;
    color: white;

}


